annotated-types==0.7.0
anyio==4.9.0
black==25.1.0
bmipy==2.0.1
bpy==4.2.0
cachetools==5.5.2
certifi==2025.4.26
cftime==1.6.4.post1
charset-normalizer==3.4.2
click==8.2.0
cloudpickle==3.1.1
contourpy==1.3.2
cycler==0.12.1
Cython==3.1.0
einops==0.8.1
flow-vis==0.1
fonttools==4.58.0
freetype-py==2.5.1
geomdl==5.3.1
gin-config==0.5.0
google-auth==2.40.1
google-genai==1.15.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
imageio==2.37.0
-e git+https://github.com/princeton-vl/infinigen.git@59a2574f3d6a2ab321f3e50573dddecd31b15095#egg=infinigen
Jinja2==3.1.6
joblib==1.5.0
kiwisolver==1.4.8
landlab==2.6.0
lazy_loader==0.4
llvmlite==0.44.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
mdurl==0.1.2
mypy_extensions==1.1.0
netCDF4==1.7.2
networkx==3.4.2
numba==0.61.2
numpy==1.26.4
opencv-python==4.11.0.86
OpenEXR==3.3.3
packaging==25.0
pandas==2.2.3
pathspec==0.12.1
patsy==1.0.1
pillow==11.2.1
platformdirs==4.3.8
psutil==7.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==2.11.4
pydantic_core==2.33.2
pyglet==1.5.31
Pygments==2.19.1
PyOpenGL==3.1.0
pyparsing==3.2.3
pyrender==0.1.45
pyshp==2.3.1
python-dateutil==2.9.0.post0
python-fcl==0.7.0.8
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
rich==14.0.0
rich-click==1.8.8
rsa==4.9.1
rtree==1.4.0
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.3
shapely==2.1.0
six==1.17.0
sniffio==1.3.1
statsmodels==0.14.4
submitit==1.5.2
threadpoolctl==3.6.0
tifffile==2025.5.10
tqdm==4.67.1
trimesh==4.6.9
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
websockets==15.0.1
xarray==2025.4.0
zstandard==0.23.0
attrs==25.3.0
boto3==1.37.31
botocore==1.37.31
cloudpickle==3.1.1
contourpy==1.3.1
cycler==0.12.1
empy==4.2
Farama-Notifications==0.0.4
filelock==3.18.0
fonttools==4.57.0
fsspec==2025.3.2
future==1.0.0
gymnasium==1.1.1
isaacsim==4.2.0.2
isaacsim-app==4.2.0.2
isaacsim-asset==4.2.0.2
isaacsim-benchmark==4.2.0.2
isaacsim-code-editor==4.2.0.2
isaacsim-core==4.2.0.2
isaacsim-cortex==4.2.0.2
isaacsim-example==4.2.0.2
isaacsim-extscache-kit==4.2.0.2
isaacsim-extscache-kit-sdk==4.2.0.2
isaacsim-extscache-physics==4.2.0.2
isaacsim-gui==4.2.0.2
isaacsim-kernel==4.2.0.2
isaacsim-replicator==4.2.0.2
isaacsim-rl==4.2.0.2
isaacsim-robot==4.2.0.2
isaacsim-robot-motion==4.2.0.2
isaacsim-robot-setup==4.2.0.2
isaacsim-ros1==4.2.0.2
isaacsim-ros2==4.2.0.2
isaacsim-sensor==4.2.0.2
isaacsim-storage==4.2.0.2
isaacsim-template==4.2.0.2
isaacsim-test==4.2.0.2
isaacsim-utils==4.2.0.2
Jinja2==3.1.6
jmespath==1.0.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kconfiglib==14.1.0
kiwisolver==1.4.8
lxml==5.3.2
MarkupSafe==3.0.2
matplotlib==3.10.1
mpmath==1.3.0
networkx==3.4.2
numpy==1.26.4
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
omniverse-kit==106.1.0.140981
opencv-python==4.11.0.86
osqp==0.6.7.post3
packaging==24.2
-e git+https://github.com/PegasusSimulator/PegasusSimulator.git@81f1eb6f3c48e2f3b4326cb5723f7f8391bd82ec#egg=pegasus_simulator&subdirectory=extensions/pegasus.simulator
pillow==10.4.0
psutil==7.0.0
pymavlink==2.4.43
pyparsing==3.2.3
pyperclip==1.9.0
pyros-genmsg==0.5.8
python-dateutil==2.9.0.post0
PyYAML==6.0.2
qdldl==0.1.7.post5
referencing==0.36.2
rpds-py==0.24.0
s3transfer==0.11.4
scipy==1.15.2
six==1.17.0
sympy==1.13.1
toml==0.10.2
torch==2.6.0
triton==3.2.0
typing_extensions==4.13.1
urllib3==2.3.0